<%= render 'links/session_links' %>

<h1>Create a new short url</h1>

<%= render 'errors/flash' %>
<%= render 'errors/url_errors' %>

<%= form_with model: @url, local: true do |form| %>
  <div class="field">
    <%= form.label :initial_url %>
    <%= form.text_field :initial_url %>
  </div>
  <div class="field">
    <%= form.radio_button(:status, 'public_url', { checked: true }) %>
    <%= form.label(:status_public_url, 'Public url') %>
    <%= form.radio_button(:status, 'private_url') %>
    <%= form.label(:status_private_url, 'Private url') %>
  </div>
  <br>
  <%= form.submit %>
<% end %>
<br>
<%= link_to 'My urls', controller: 'urls', action: :index %>
<% if current_user.admin? %>
  <%= link_to 'Users', controller: 'users/users', action: :index %>
<% end %>
<br>
<% if current_user.admin? %>
  <section class="last-urls">
    <h3>Last created URL's</h3>
    <table>
      <tr>
        <th>URL</th>
        <th>Short URL</th>
      </tr>
      <% @last_urls.each do |last_url| %>
        <tr>
          <td><%= last_url.initial_url %></td>
          <td><%= root_url + last_url.short_url %></td>
        </tr>
      <% end %>
    </table>
  </section>
<% else %>
  <section class="last-public-urls">
    <h3>Last created public URL's</h3>
    <table>
      <tr>
        <th>URL</th>
        <th>Short URL</th>
      </tr>
      <% @last_public_urls.each do |last_public_url| %>
        <tr>
          <td><%= last_public_url.initial_url %></td>
          <td><%= root_url + last_public_url.short_url %></td>
        </tr>
      <% end %>
    </table>
  </section>
<% end %>
